---
import "../styles/main.scss"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>trillo &mdash; Your all-in-one booking app</title>
	</head>
	<body>
		<div class="container">
			<header class="header">
				Header component
			</header>
			<div class="content">
				<nav class="sidebar">
					Navigation component
				</nav>
				<main class="hotel-view">
					Hotel view component
				</main>
			</div>
		</div>
	</body>
</html>
