---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import "../styles/main.scss";
import logo from "../img/logo.png";
import userIcon from "../img/user.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>trillo &mdash; Your all-in-one booking app</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <Image src={logo} alt="Trillo logo" class="logo" />
        <form class="search">
          <input
            type="text"
            class="search__input"
            placeholder="Search for a hotel"
          />
          <button class="search__button">
            <Icon name="magnifying-glass" class="search__icon" />
          </button>
        </form>
        <nav class="user-nav">
          <div class="user-nav__icon-box">
            <Icon name="bookmark" class="user-nav__icon" />
            <span class="user-nav__notification">7</span>
          </div>
          <div class="user-nav__icon-box">
            <Icon name="chat" class="user-nav__icon" />
            <span class="user-nav__notification">13</span>
          </div>
          <div class="user-nav__user">
            <Image src={userIcon} alt="User" class="user-nav__user-photo" />
            <span class="user-nav__user-name">Jonas</span>
          </div>
        </nav>
      </header>
      <div class="content">
        <nav class="sidebar">
          <ul class="side-nav">
            <li class="side-nav__item side-nav__item--active">
              <a href="#" class="side-nav__link">
                <Icon name="home" class="side-nav__icon" />
                <span>Hotels</span>
              </a>
            </li>
            <li class="side-nav__item">
              <a href="#" class="side-nav__link">
                <Icon name="aircraft" class="side-nav__icon" />
                <span>Flights</span>
              </a>
            </li>
            <li class="side-nav__item">
              <a href="#" class="side-nav__link">
                <Icon name="key" class="side-nav__icon" />
                <span>Car rentals</span>
              </a>
            </li>
            <li class="side-nav__item">
              <a href="#" class="side-nav__link">
                <Icon name="map" class="side-nav__icon" />
                <span>Tours</span>
              </a>
            </li>
          </ul>
          <div class="legal">&copy; 2017 by trillo. All rights reserved.</div>
        </nav>
        <main class="hotel-view">Hotel view component</main>
      </div>
    </div>
  </body>
</html>
